install_elixir: &install_elixir
  run:
    name: Install Elixir
    command: |
      wget https://repo.hex.pm/builds/elixir/v$ELIXIR_VERSION.zip
      unzip -d /usr/local/elixir v$ELIXIR_VERSION.zip
      echo 'export PATH=/usr/local/elixir/bin:$PATH' >> $BASH_ENV

version: 2
jobs:
  build:
    docker:
      - image: erlang:21.2.2
        environment:
          ELIXIR_VERSION: 1.8.0-otp-21
          LC_ALL: C.UTF-8
    working_directory: ~/repo
    environment:
      MIX_ENV: test
    steps:
      - checkout
      - <<: *install_elixir
      - run: mix local.hex --force && mix local.rebar --force
      - run: mix deps.get --only test
      - run: mix test
      - run: mix format --check-formatted
