version: 2.1

latest: &latest
  pattern: "^1.19.*-erlang-28.*$"

tags: &tags
  [
    1.19.1-erlang-28.1.1-alpine-3.22.2,
    1.18.4-erlang-28.1-alpine-3.22.2,
    1.18.3-erlang-27.3.3-alpine-3.21.3,
    1.17.3-erlang-27.2-alpine-3.20.3,
    1.16.3-erlang-26.2.5-alpine-3.20.0,
    1.15.7-erlang-26.2.1-alpine-3.18.4,
    1.14.5-erlang-26.2.5.6-alpine-3.22.2
  ]

jobs:
  check-license:
    docker:
      - image: fsfe/reuse:latest
    steps:
      - checkout
      - run: reuse lint

  build-test:
    parameters:
      tag:
        type: string
    docker:
      - image: hexpm/elixir:<< parameters.tag >>
    working_directory: ~/repo
    environment:
      LC_ALL: C.UTF-8
    steps:
      - run:
          name: Install system dependencies
          command: apk add --no-cache build-base procps util-linux
      - checkout
      - run:
          name: Install hex, rebar, and nerves_bootstrap
          command: |
            mix local.hex --force
            mix local.rebar --force
            mix archive.install hex nerves_bootstrap --force
      - restore_cache:
          keys:
            - v1-mix-cache-<< parameters.tag >>-{{ checksum "mix.lock" }}
      - run: mix deps.get
      - when:
          condition:
            matches: { <<: *latest, value: << parameters.tag >> }
          steps:
            - run: mix format --check-formatted
            - run: mix deps.unlock --check-unused
            - run: mix docs
            - run: mix hex.build
            - run: mix test || mix test --failed || mix test --failed
            - run: mix credo -a --strict
            - run: mix dialyzer
      - when:
          condition:
            not:
              matches: { <<: *latest, value: << parameters.tag >> }
          steps:
            - run: mix test --exclude release || mix test --exclude release --failed || mix test --exclude release --failed
      - save_cache:
          key: v1-mix-cache-<< parameters.tag >>-{{ checksum "mix.lock" }}
          paths:
            - _build
            - deps

  automerge:
    docker:
      - image: alpine:3.22.2
    steps:
      - run:
          name: Install GitHub CLI
          command: apk add --no-cache build-base github-cli
      - run:
          name: Attempt PR automerge
          command: |
            author=$(gh pr view "${CIRCLE_PULL_REQUEST}" --json author --jq '.author.login' || true)

            if [ "$author" = "app/dependabot" ]; then
              gh pr merge "${CIRCLE_PULL_REQUEST}" --auto --rebase || echo "Failed trying to set automerge"
            else
              echo "Not a dependabot PR, skipping automerge"
            fi

workflows:
  checks:
    jobs:
      - check-license:
          filters:
            tags:
              only: /.*/
      - build-test:
          name: << matrix.tag >>
          matrix:
            parameters:
              tag: *tags

      - automerge:
          requires: *tags
          context: org-global
          filters:
            branches:
              only: /^dependabot.*/
