version: 2.1

latest: &latest
  pattern: "^1.14.5-erlang-25.*$"

jobs:
  build-test:
    parameters:
      tag:
        type: string
    docker:
      - image: hexpm/elixir:<< parameters.tag >>
    working_directory: ~/repo
    environment:
      LC_ALL: C.UTF-8
    steps:
      - run:
          name: Install system dependencies
          command: apk add --no-cache build-base procps
      - checkout
      - run:
          name: Install hex, rebar, and nerves_bootstrap
          command: |
            mix local.hex --force
            mix local.rebar --force
            mix archive.install hex nerves_bootstrap --force
      - restore_cache:
          keys:
            - v1-mix-cache-<< parameters.tag >>-{{ checksum "mix.lock" }}
      - run: mix deps.get
      - when:
          condition:
            matches: { <<: *latest, value: << parameters.tag >> }
          steps:
            - run: mix format --check-formatted
            - run: mix deps.unlock --check-unused
            - run: mix docs
            - run: mix hex.build
            - run: mix test || mix test
            - run: mix credo -a --strict
            - run: mix dialyzer
      - when:
          condition:
            not:
              matches: { <<: *latest, value: << parameters.tag >> }
          steps:
            - run: mix test --exclude release || mix test --exclude release
      - save_cache:
          key: v1-mix-cache-<< parameters.tag >>-{{ checksum "mix.lock" }}
          paths:
            - _build
            - deps

workflows:
  checks:
    jobs:
      - build-test:
          name: << matrix.tag >>
          matrix:
            parameters:
              tag: [
                1.14.5-erlang-25.3.2-alpine-3.18.0,
                1.13.4-erlang-25.3.2-alpine-3.18.0,
                1.13.4-erlang-24.3.4.11-alpine-3.18.0,
                1.12.3-erlang-24.3.4.11-alpine-3.18.0,
                1.11.4-erlang-23.3.4.18-alpine-3.16.2
              ]
